body {
    background-image: url(Images/3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.body{
    padding: 0;
    margin: 0;
}

/*background:url(Images/3.jpg);
background-size: contain;
display: flex;
width: 1000px;
height: 100vh;
margin-top: 60px;
}
div.textimg{
display: flex;
justify-content: space-between;
}
.formulaire form{
backdrop-filter: blur (5px);*/

.container {
    margin: auto;
    background-color: rgba(255, 255, 255, .2);
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 440px;
    width: 420px;
    
}

th {

    /* text-align: center; */
    font-size: 25%;
    color: white;
    width: auto;
    padding-top: 38px;
}

td {
    font-size: 14px;
    color: white;
    margin: 10px;


}

/* .formulaire {
    text-align: center;
} */

.formulaire input {
    height: 7px;
    width: 360px;
    padding: 10px;
    margin-bottom: 1px;
    border: none;
    outline: none;
    overflow: hidden;
    background-color: #dddddd71;
}

.formulaire button {
    height: 35px;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.911);
    color: black #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3sease;
    font-size: 20px;
}

.formulaire form {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    font-size: 14px;

}

.input label {
    font-size: 23px;
    color: white;
    font-weight: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-right: 290px;
}


img {
    /*
    width: 50px; /* Ajustez la taille de l'icône */
    height: 80px;
    margin-bottom: 10px;
    padding-right: 200px;
}

.account {
    color: white;
    font-size: 17px;
    margin-bottom: 20px;
    border: none;
    outline: none;
}